<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.team_pj_springboot.mappers.AttenMapper">

	<insert id="insertAnnual" parameterType="com.example.team_pj_springboot.dto.AnnualDTO">
		INSERT INTO annual_board (annual_id, annual_title, annual_start, annual_end, annual_content, annual_reg_date, annual_board_file)
		VALUES ((SELECT NVL(MAX(annual_id)+1, 1) FROM annual_board), #{annual_title}, #{annual_start}, #{annual_end}, #{annual_content}, SYSDATE)
	</insert>
	
	<insert id="vacationInsert" parameterType="com.example.team_pj_springboot.dto.VacationDTO">
		INSERT INTO vacation_board (vacation_id, vacation_title, vacation_start, vacation_end, vacation_content, vacation_reg_date, vacation_board_file)
		VALUES ((SELECT NVL(MAX(vacation_id)+1, 1) FROM vacation_board), #{vacation_title}, #{vacation_start}, #{vacation_end}, #{vacation_content}, SYSDATE)
	</insert>

</mapper>